{% load static i18n %}

<div id="modal-backdrop" class="modal-backdrop fade show" ></div>
<div id="modal" class="modal fade show basic-transition shadow-4-strong" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="row">
{#                desktop image#}
        <div class="col-6 d-none d-lg-block">
          <img id="venue-pic" class="img-fluid d-flex w-100 h-100 rounded-3" src="{% static 'images/display/venue.jpg' %}">
        </div>
        <div class="col-lg-6">
{#                      mobile image#}
          <div class="d-flex justify-content-end d-lg-none">
            <img class="bg-image img-fluid d-flex w-100 h-100 rounded-3" src="{% static 'images/display/venue.jpg' %}">
            <button type="button" class="btn-close p-3 position-absolute" onclick="closeModal()"></button>
          </div>
{#                    desktop close#}
          <div class="d-flex justify-content-end border-end-0">
            <button type="button" class="btn-close p-3 d-none d-lg-block" onclick="closeModal()"></button>
          </div>
          <div class="modal-body mb-3">
            <h5 class="modal-title mb-3 p-3 text-black" id="exampleModalLabel">{{ venue }}</h5>
            <span class="p-3">{{ venue.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
